<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
            <div class="row">
                    <h3 class="text-center">EMPLOYEE PREMIUM (EP)</h3>
           </div>
        <div class="row">
                <h3 style="font-size:large;" class="text-center">Configure this App to connect with BE services</h3>
             <div class="text-center">The localhost is pointed to this location 'http://localhost:8080/api/'</div> 
             <div class="text-center">You may change this by modyfying the apiEndPoint (key) in Environment section</div>
        </div>
        <div class="row">
                <h3 style="font-size:large;" class="text-center">Running this App </h3>
             <div class="text-center">Once BE services were set. This app was simply run by ng serve -o</div> 
       </div>
    </div>
</div>